.prints-main {
  width: 100%;
  text-align: center;
}

.basic-gallery {
  margin-left: 5%;
  margin-right: 5%;
}

.prints-heading-div {
  display: flex;
}

.prints-heading-div > * {
  flex: 1;
}

.prints-heading-img-div {
  align-items: center;
  justify-content: center;
}

.prints-heading-text-div {
  text-align: left;
}

.prints-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.prints-heading-text {
  /* font-size: 56px; */
  font-weight: 400;
  font-family: "Raleway, sans-serif";
  line-height: 1;
  /* text-align: center;
  margin-top: 80px; */
}

.prints-heading-sub-text {
  font-size: 30px;
  font-family: "Raleway";
  text-align: center;
  margin-bottom: 10px;
}

.prints-header-detail-text {
  font-size: 20px;
  margin: 0px;
  font-family: "Raleway, sans-serif";
}
.paintings-heading-text-div {
  text-align: center;
  font-family: "Raleway";
  margin-top: 40px;
}

.paintings-heading-text {
  font-size: 56px;
  font-weight: 600;
}

.painting-cards-div-main {
  column-count: 2;
  column-gap: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.painting-cards-div-main > .painting-card-div {
  background-color: #eee;
  display: inline-block;
  margin: 15px;
}

@media only screen and (max-width: 480px) {
  .painting-cards-div-main {
    column-count: 3;
    column-gap: 15px;
  }
}

/* 
.painting-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  gap: 1rem 1rem;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
} */

@media (max-width: 1380px) {
  /* .prints-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .prints-heading-sub-text {
    font-size: 25px;
  } */
}

@media (max-width: 768px) {
  /* .prints-heading-text,
  .paintings-heading-text {
    font-size: 30px;
    margin-top: 20px;
  } */

  .prints-heading-sub-text {
    font-size: 20px;
  }

  .prints-heading-div {
    flex-direction: column;
  }

  .prints-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    line-height: normal;
    text-align: left;
  }

  /* .painting-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  } */
}
