.main {
  width: 90%;
  padding: 10px 10px;
  margin: 0px auto;
  margin-top: 0;
}
.greet-main {
  width: 90%;
  padding: 0px 10px;
  margin: 0px auto;
  margin-top: 0;
}

.gretting-main {
  width: 90%;
  padding: 10px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 0px;
}
.button-greeting-div {
  display: flex;
  margin-top: 0px;
}

.greeting-text {
  margin-top: 3rem;
  font-size: 56px;
  line-height: 1;
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
}

.greeting-nickname {
  font-size: 16px;
  line-height: 2;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
}

.greeting-text-p {
  font-size: 20px;
  line-height: 1.4;
  margin-right: 40px;
  font-family: "Raleway";
  font-style: italic;
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

.greeting-image-div > .carrie-profile-image.hideMobile {
  display: block;
}

.greeting-nickname .carrie-profile-image.showMobile {
  display: none;
  margin: 0 auto;
}
/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 36px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 1rem;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 20px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .greeting-image-div > .carrie-profile-image.hideMobile {
    display: none;
  }
  .greeting-nickname .carrie-profile-image.showMobile {
    display: block;
    margin: 0 auto;
  }
}
