@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Bold";
  src: local("Google Sans Bold"),
    url("./assets/fonts/GoogleSans-Bold.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Bold Italic";
  src: local("Google Sans Bold Italic"),
    url("./assets/fonts/GoogleSans-BoldItalic.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Italic";
  src: local("Google Sans Italic"),
    url("./assets/fonts/GoogleSans-Italic.ttf") format("woff");
}
@font-face {
  font-family: "Montserat, sans-serif";
  src: local("Montserat, sans-serif"),
    url("./assets/fonts/GoogleSans-Medium.ttf") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: local("Raleway"),
    url("./assets/fonts/Raleway-Regular.ttf") format("woff");
}
@font-face {
  font-family: " Raleway Light";
  font-weight: 300;
  src: local(" Raleway Light"),
    url("./assets/fonts/Raleway-Light.ttf") format("woff");
}

@font-face {
  font-family: "Raleway SemiBold";
  font-weight: 500;
  src: local("Raleway SemiBold"),
    url("./assets/fonts/Raleway-SemiBold.ttf") format("woff");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  font-family: "Raleway";
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: 19px / 23px "Raleway Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}
